// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*{
   margin:0;
   padding:0;
}
	
body{
   background-image:url('bg.png');
   font-family:"helvetica neue", sans-serif;
   font-size:13px;
   color:#444;
   padding-top:125px;
}

//test case
.box{border:1px solid #000;}


a{
   color:#369;
   img{
      border:none;
   }
}

#hd{
   background:#e1dcdb;
   position:fixed;
   z-index:100;
   top:0;
   left:0;
   width:100%;
   @include box-shadow(0 0 5px rgba(0,0,0,0.7));
   padding-bottom:20px;

   .topline{
	  background:#ea6641;
	  padding:5px 0;
      margin-bottom:20px;
   }
   
   input[type="text"]{
      background:#EBEBEB;
      height:22px;
      border:1px solid #949494;      
      @include border-radius(3px 0px 0px 3px);
      float:left;
   }
   
   .search{
      padding:3px;
      float:left;
      padding: 5px;
      text-align:center;
      width: 20px;
      @include gradient-vertical(#E0DEDF, #CBCBCB);
      border:1px solid #949494;
      border-left:0px;
      @include border-radius(0px 3px 3px 0px);
      color:#ccc;
   }

   .search_for{
      font-size:13px;
      color:#898989;
      padding-top: 7px;
      input[type="checkbox"]{
         margin:0 0 0 10px;
      }
   }

}

#masonry{
   position:relative;
}

.item{
	width:220px;
	float:left;
	padding:1px 1px 0;
	margin:0 7px 25px;
	font-size:12px;
   background:#fff;
   @include box-shadow(0 1px 3px rgba(34,25,25,0.4));
}